body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
}

div:hover {
	cursor: default;
	user-select: none;
}

.appWrapper {
	width: 300px;
	height: 100vh;
	padding-top: 20px;
	box-sizing: border-box;
	background-color: #22313F;
}	

.buttonWrapper {
	margin: 20px auto;
	width: 80%;
	height: 40px;
}

.button {
	font-size: 16px;
	padding: 10px;
	box-sizing: border-box;
	width: 46%;
	color: white;
	text-align: center;
	border-radius: 5px;
}

.button:hover {
	cursor: pointer;
}

.cancel {
	float: left;
	background-color: #F64747;
}

.start {
	float: right;
	background-color: #2ECC71;
}

.buttonDisabled {
	background-color: #888888;
	color: #666666;
}

.buttonDisabled:hover {
	cursor: default;
}

